apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert-service
  namespace: fraudshield
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert-service
  template:
    metadata:
      labels:
        app: alert-service
    spec:
      containers:
      - name: alert-service
        image: mrunmay1312/dissertation-alert-service:latest
        ports:
        - containerPort: 3000
