apiVersion: v1
kind: Service
metadata:
  name: alert-service
  labels:
    app: alert-service
spec:
  selector:
    app: alert-service
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP

