apiVersion: apps/v1
kind: Deployment
metadata:
  name: rule-engine
  namespace: fraudshield
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rule-engine
  template:
    metadata:
      labels:
        app: rule-engine
    spec:
      containers:
      - name: rule-engine
        image: REPLACE_IMAGE
        ports:
        - containerPort: 8080
