apiVersion: kafka.strimzi.io/v1
kind: KafkaTopic
metadata:
  name: transactions
  namespace: kafka
  labels:
    strimzi.io/cluster: fraudshield-cluster
spec:
  partitions: 12
  replicas: 3
  config:
    retention.ms: 604800000
